<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <h1>Dashboard</h1>
        <span class="spacer-2"></span>
      </div>
      <div class="content">
        <div class="messages">
          <h2>Messages</h2>
          <div><%= messagesData.filter(m => m.read === false).length || 0 %> Unread Messages</div>
          <div><%= messagesData.length %> Total Messages</div>
        </div>
      </div>
    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>