<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <h1><%= error.status%> Error</h1>
        <pre><%= error.message%></pre>
        <p><a href="/">&laquo; Back to Dashboard</a></p>
      </div>
    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>