<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <div class="page-banner">
          <div class="left">
            <%- include('../partials/svg/message'); %>
            <h1>Messages</h1>
          </div>
          <div class="right">
            <span>Total: <%= messagesData.length %></span>
            <span>Most Recent:
              <%= messagesData.length ? new Date(messagesData[0].createdAt).toLocaleDateString('en-US') : 'none' %></span>
          </div>
        </div>
        <span class="spacer-1"></span>
      </div>

      <div class="content spam">
        Spam Attempts: <%= meta.spamHistory.length %>
        Last Spam Attempt:
        <%= meta.spamHistory.length ? new Date(meta.spamHistory[0]).toLocaleDateString('en-US') : 'none' %>
      </div>

      <div class="content">
        <div class="CardsList messages-display" data-cards="<%= JSON.stringify(messagesData) %>"></div>
      </div>

    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>