<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">

      <div class="content flex-center">
        <div class="page-banner">
          <div class="left">
            <%- include('../partials/svg/spotify'); %>
            <h1>Spotify</h1>
          </div>
          <div class="right">
            <span>Songs: <%= songs.length %></span>
            <span>Albums: <%= albums.length %></span>
            <span>Artists: <%= artists.length %></span>
            <span>Shows: <%= shows.length %></span>
          </div>
        </div>
      </div>

      <div class="content">
        <% if(spotifyLoggedIn) { %>
        <span class="logged-in">✔️ Spotify Logged In</span>
        <% } else { %>
        <br>
        <a href="/spotify/login" class="login-button">🔑 Log in to Spotify</a>
        <% } %>
        <span class="spacer-2"></span>
      </div>

      <div class="content">
        <% if(!spotifyLoggedIn) { %>
        <p>You must log in to spotify OR ELSE!!! <br>(fetchers disabled until you log in)</p>
        <br>
        <% } %>
        <div class="fetchers <%= spotifyLoggedIn ? '' : 'disabled'%>">
          <div class="fetcher" data-service="spotify" data-query="tracks" data-name="Saved Songs"></div>
          <div class="fetcher" data-service="spotify" data-query="toptracks" data-name="Top 10 Songs (Long Term)"></div>
          <div class="fetcher" data-service="spotify" data-query="albums" data-name="Saved Albums"></div>
          <div class="fetcher" data-service="spotify" data-query="artists" data-name="Followed Artists"></div>
          <div class="fetcher" data-service="spotify" data-query="shows" data-name="Followed Shows/Podcasts"></div>
          <div class="fetcher" data-service="spotify" data-query="giantplaylist" data-name="GIANT PLAYLIST">
          </div>
          <div class="fetcher" data-service="spotify-images" data-query="tracks" data-name="Track Images"></div>
          <div class="fetcher" data-service="spotify-images" data-query="albums" data-name="Album Images"></div>
          <div class="fetcher" data-service="spotify-images" data-query="artists" data-name="Artist Images"></div>
          <div class="fetcher" data-service="spotify-images" data-query="shows" data-name="Show/Podcast Images"></div>
        </div>
      </div>

      <div class="content">
        <div class="data-list">
          <h2>Songs</h2>
          <div class="CardsList spotify-songs" data-cards="<%= JSON.stringify(songs) %>"></div>
        </div>
        <div class="data-list">
          <h2>Artists</h2>
          <div class="CardsList spotify-artists" data-cards="<%= JSON.stringify(artists) %>"></div>
        </div>
        <div class="data-list">
          <h2>Albums</h2>
          <% albums.forEach(i => { %>
          <span class="data-album"><%= i.name %></span>
          <% }) %>
        </div>
        <div class="data-list">
          <h2>Shows/Podcasts</h2>
          <% shows.forEach(i => { %>
          <span class="data-show"><%= i.name %></span>
          <% }) %>
        </div>
      </div>
    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>