<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">

      <div class="content flex-center">
        <div class="page-banner">
          <div class="left">
            <%- include('../partials/svg/steam'); %>
            <h1>Steam</h1>
          </div>
          <div class="right">
            <span>Games: <%= totalSteamGames %></span>
            <span>Recently Played: <%= totalRecentSteamGames %></span>
          </div>
        </div>
        <span class="spacer-2"></span>
      </div>

      <div class="content">
        <div class="fetchers">
          <div class="fetcher" data-service="steam" data-query="games" data-name="Owned Games"></div>
          <div class="fetcher" data-service="steam" data-query="recentgames" data-name="Recently Played Games"></div>
          <div class="fetcher" data-service="steam" data-query="gamedetails" data-name="Owned Games Details"></div>
          <div class="fetcher" data-service="steam-images" data-query="capsule" data-name="Game Capsule Images"></div>
        </div>
      </div>

      <div class="content">
        <h2>Games</h2>
        <div class="CardsList steam-games" data-cards="<%= JSON.stringify(steamGames) %>"></div>
      </div>

    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>