<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <div class="wrapper-default contain">
    <%- include ('../partials/sidebar') %>

    <main id="content">
      <div class="content flex-center">
        <div class="page-banner">
          <div class="left">
            <%- include('../partials/svg/tmdb-logo'); %>
            <h1>TMDB</h1>
          </div>
          <div class="right">
            <span>Movies: <%= totalMovies %></span>
            <span>Shows: <%= totalShows %></span>
          </div>
        </div>
        <span class="spacer-1"></span>
      </div>

      <div class="content">
        <div class="fetchers">
          <div class="fetcher" data-service="tmdb" data-query="movies/favorite" data-name="Favorited Movies"></div>
          <div class="fetcher" data-service="tmdb" data-query="movies/rated" data-name="Rated Movies"></div>
          <div class="fetcher" data-service="tmdb" data-query="tv/favorite" data-name="Favorited Shows"></div>
          <div class="fetcher" data-service="tmdb" data-query="tv/rated" data-name="Rated Shows"></div>
        </div>
      </div>

    </main>
  </div>

  <div id="global-alerts"></div>
  <%- include ('../partials/end') %>
</body>

</html>